body {
    background-image: url(../img/bgparallax.jpg);
    background-color: #2C3E50;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-origin: center;
	background-clip: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
