html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */

#footer {
    height: 60px;
	background-color: #2C3E50;

}

#footer p {
    margin: 20px 0;
    color: white;
}
#footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}


.navbar-default {
    background-color: #2C3E50;
    border: none;
}
a.navbar-brand img {
    height: 30px;
}
#navbar a {
	color: white;
}

#navbar a:hover{
	text-decoration: underline;
}


/*///////////////////////////////////////////////////*/


.search-form-container {
    margin-top: 20px;
	margin-bottom: 10px;
    text-align: center;
	    min-height: 170px;
        padding-top: 20px;
}
.search-form {
    display: inline-block;
}
.logo {
    height: 160px;
}
