html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */

.no-padding-left {
    padding-left: 0px;
}
.no-padding-right {
    padding-right: 0px;
}

#main {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
    background-color: #ECF0F1;
}
/* Set the fixed height of the footer here */

#footer {
    height: 60px;
    background-color: #2C3E50;
}
#footer p {
    margin: 20px 0;
    color: white;
}
#footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-default {
    background-color: #2C3E50;
    border: none;
}
a.navbar-brand img {
    height: 30px;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-right a:hover {
    text-decoration: underline;
}

/*///////////////////////////////////////////////////*/

.search-form-container {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    min-height: 170px;
    padding-top: 20px;
}
.search-form {
    display: inline-block;
}
.logo {
    height: 160px;
}

.search-element{
    height: 45.6px;

}

.search-element .bootstrap-select{
    height: 100%;
}

.search-element .bootstrap-select button{
    height: 100%;
}
/*////////////////////////////////////*/

#main-result, #main-result>.row {
    height: 100%;
}
#main-result>.row {
    overflow-y: scroll;
}
#left {
    height: 100%;
}
#map-canvas {
    width: 66.6666%;
    height: calc(100% - 0);
    position: absolute;
    right: 16px;
    top: 50px;
    bottom: 0;
    overflow: hidden;
}
.list-result li:hover {
    background-color: #efefef;
}
@media(max-width:767px) {
    .search-navbar {
        width: 100%;
    }
    .score {
        float: right !important;
    }
    .recomendations-survey span {
        display: block;
        text-align: center;
    }
    .recomendations-survey button {
        width: 100%;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 6px;
    }
}
@media(min-width:768px) {
    .search-navbar {
        width: 235px;
    }
    .score {
        float: right !important;
    }
}
@media(min-width:992px) {
    #map-canvas {
        width: 50%;
        height: calc(100% - 0);
        position: absolute;
        right: 16px;
        top: 50px;
        bottom: 0;
        overflow: hidden;
    }
    .search-navbar {
        width: 200px;
    }
    .score {
        float: right !important;
    }
}
@media(min-width:1200px) {
    #map-canvas {
        width: 66.6666%;
        height: calc(100% - 0);
        position: absolute;
        right: 16px;
        top: 50px;
        bottom: 0;
        overflow: hidden;
    }
    .search-navbar {
        width: 200px;
    }
}
.likes-buttons-col {
    padding-top: 11px;
}
.address {
    color: grey;
    display: block;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.score {
    float: left;
    width: 40px;
    height: 40px;
    background: #51d45c;
    margin-left: 7px;
    margin-right: 10px;
    /*margin-top: 11px;*/
    border-radius: 100%;
    color: white;
    line-height: 40px;
    text-align: center;
}
span.list-group-item-heading {
    font-size: 1.5em;
    font-weight: bold
}
.recomendations {
    font-size: 0.8em;
    float: right;
    margin-right: 10px;
    color: grey;
}
span.job {
    font-size: 0.8em;
    float: left;
    margin-right: 10px;
    color: grey;
}
.list-group-item {
    border-radius: 0px !important;
    border: none;
}
.divider {
    height: 2px;
    margin-top: 5px;
    margin-bottom: 5px;

    border-bottom: 1px solid lightgrey;
}
img.tier {
    height: 20px;
    margin-bottom: 8px;
}

.app-marker {
    height: 38px;
    margin-right: 12px;
}
.profile-photo {
    max-height: 160px;
}
.profile-name {
    font-size: 2em;
    font-weight: bold;
    color: #337ab7;
}
.service-item {
    margin-top: 15px;
    height: 200px;
    width: 200px;
    border: 1px solid #bdbdbd;
    border-radius: 34px;
}
.service-item-add {
    background-image: url(../img/plus.png);
    background-size: 41px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: lightgrey;
}
.service-item-job {
    position: relative;
}
.score-big {
    width: 80px;
    height: 80px;
    background: #51d45c;
    border-radius: 100%;
    color: white;
    line-height: 80px;
    text-align: center;
    font-size: 1.6em;
    position: absolute;
    right: 14px;
}
.header h4 {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
}
.options {
    position: absolute;
    bottom: 0;
}
.differential li {
    margin-top: 5px;
}
#service-map {
    height: 300px;
}
.portfolio-card {
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    margin-top: 20px;
}
.portfolio-img img {
    max-height: 100%;
    display: block;
    width: 100%;
}
.portfolio-text {
    padding: 15px;
}
.portfolio-container{
    overflow: scroll;
    height: 300px;
}

.portfolio-text p {
    word-wrap: break-word;
}

.checkbox label{
    /*width: 100%;*/
}

.checkbox div.toggle {
    width: 100% !important;
}

.btn-social{
    margin-bottom: 10px;
}

div.errors{
    color: red;
}

div.errors ul{
    padding: 15px;
    list-style: none;
}

.button-row{
    margin: 10px 0 ;
}

.button-row .btn{
    margin-bottom: 5px;
}

.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}
